@import "src/variables";

footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0;


  .name {
    color: $yellow;
  }
}

.info {
  @media (max-width: $laptop) {
    margin-top: 20px;
  }
}

.container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $laptop) {
    flex-direction: column-reverse;
  }
}

