@import "src/variables";

.contact-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  .contact-info {
    display: flex;
    justify-content: space-between;
    @media (max-width: $laptop) {
      flex-direction: column;
      align-items: center;
    }

    .photo {
      width: 150px;
      height: 150px;
      border: 1px solid $yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;
      @media (max-width: $laptop) {
        margin-bottom: 30px;
      }

      img {
        height: 100%;
      }
    }

    .box {
      display: flex;
      align-items: center;
      cursor: pointer;
      @media (max-width: $laptop) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        mat-icon {
          color: $white;
          border-color: $yellow;
        }

        .description {
          color: $yellow;
        }
      }

      &:hover {
        mat-icon {
          color: $white;
          border-color: $yellow;
        }

        .description {
          color: $yellow;
        }
      }


      mat-icon {
        border: 1px solid $grey;
        color: $grey;
        padding: 10px;
        border-radius: 50%;
        margin-right: 20px;
        @media (max-width: $laptop) {
          margin: 0;
        }
      }

      .box-row {
        display: flex;
        flex-direction: column;
        @media (max-width: $laptop) {
          align-items: center;
        }

        .box-title {
          color: white;
        }
      }
    }
  }
}
