<section id="skills">
  <div class="container">
    <app-section-title section="skills"></app-section-title>
    <div class="row">
      <div class="info">
        <h3 class="main-text white">{{'skills.info-title' | translate}}</h3>
        <p class="description">{{'skills.info-description' | translate}}</p>
      </div>
      <div class="skills">
        <div *ngFor="let skill of listOfSkills" class="skill">
          <h5 class="main-text size16 white">{{skill.name}}</h5>
          <mat-progress-bar mode="determinate" value="{{skill.value}}"></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</section>


