@import "src/variables";

.info {
  flex: 1;
  padding-right: 50px;
}

.skills {
  flex: 1;
  padding-left: 50px;

  .skill {
    padding: 5px 0;

    .mat-mdc-progress-bar {
      background-color: white;
      border-radius: 10px;
      --mdc-linear-progress-active-indicator-color: #fdc66a;
    }
  }
}




