<div [ngClass]="{'sticky-nav': isSticky}" class="nav-wrapper">
  <div class="logo">
    <img alt="logo" src="assets/images/others/icon.png">
  </div>
  <nav>
    <ul [ngClass]="{'is-active': isMenuOpen}" class="menu">
      <li *ngFor="let element of navMenu"
          [ngClass]="{'active-link': isSectionInView(element.value)}"
          class="list-element">
        <a (click)="scrollToSection(element.value)">
          {{'navbar.' + element.translationKey | translate}}
        </a>
      </li>

      <div (click)="select.open()"
           [ngStyle]="{'background-image': 'url(' + getCountryImage(selectedCountry) + ')'}"
           class="language-wrapper">
        <mat-form-field appearance="fill" class="language-select">
          <mat-select #select (selectionChange)="changeLanguage($event.value)" [(value)]="selectedCountry">
            <mat-select-trigger>
              <img *ngIf="selectedCountry" [src]="getCountryImage(selectedCountry)"
                   alt="countryName" height="20"
                   width="30">
            </mat-select-trigger>
            <mat-option *ngFor="let country of languages" [value]="country.value">
              <img [src]="country.image" alt="{{country.name}}" height="20" width="30">
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </ul>
    <button (click)="handleMenu()" [ngClass]="{'is-active': isMenuOpen, 'hamburger--spin': true}"
            class="hamburger">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </nav>
</div>
