<div [ngClass]="{'sticky-nav': isSticky}" class="nav-wrapper">
  <a class="logo" href="#home">
    <img alt="logo" src="assets/images/others/icon.png">
  </a>
  <nav>
    <ul [ngClass]="{'is-active': isMenuOpen}" class="menu">
      <li *ngFor="let element of navMenu"
          [ngClass]="{'active-link': isSectionInView(element.value)}"
          class="list-element">
        <a (click)="scrollToSection(element.value)">
          {{'navbar.' + element.translationKey | translate}}
        </a>
      </li>
      <app-country-select></app-country-select>
      
    </ul>
    <button (click)="handleMenu()" [ngClass]="{'is-active': isMenuOpen, 'hamburger--spin': true}"
            class="hamburger">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </nav>
</div>
