@import 'src/variables';

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px 30px;
  transition: ease-in-out .5s;
  z-index: 10;

  &.sticky-nav {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px 30px;
    transition: ease-in-out .5s;
  }

  .hamburger-box {
    height: 12px;
  }

  nav {
    display: flex;
    align-items: center;

    .list-element {
      margin: 0 10px;
      font-size: 16px;
      cursor: pointer;

      a {
        color: inherit;
        text-decoration: none;
      }

      &:last-of-type {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid white;
      }

      &:hover {
        color: $yellow;
      }

      &.active-link {
        color: $yellow;
      }
    }
  }

  .logo {
    max-width: 180px;

    img {
      width: 100%;
    }
  }

  .menu {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateX(20px);

    &.is-active {
      opacity: 1;
      transform: translateX(0);
      transition: ease-in-out .5s;
    }
  }
}









