@import 'src/variables';

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px 30px;
  transition: ease-in-out .5s;

  &.sticky-nav {
    position: sticky;
    top: 0;
    padding: 10px 30px;
    transition: ease-in-out .5s;
  }

  nav {
    display: flex;
    align-items: center;

    .list-element {
      margin: 0 10px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: $yellow;
      }

      &.active {
        color: $yellow;
      }
    }
  }

  .menu {
    color: white;
    list-style: none;
    display: flex;
    opacity: 0;
    transform: translateX(20px);

    &.is-active {
      opacity: 1;
      transform: translateX(0);
      transition: ease-in-out .5s;
    }
  }
}


