@import 'src/variables';

.nav-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px 30px;
  transition: ease-in-out .3s;
  z-index: 10;

  &.sticky-nav {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px 30px;
    transition: ease-in-out .3s;

    .is-active {
      top: 18px;
      @media (max-width: $laptop) {
        top: 74px;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
  }
}

.logo {
  max-width: 180px;

  img {
    width: 100%;
  }
}

.hamburger-box {
  height: 12px;
}

.menu {
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: ease-in-out .3s;
  color: white;
  list-style: none;
  z-index: -1;
  flex-direction: row;
  width: inherit;
  right: 80px;
  left: auto;
  top: 28px;

  @media (max-width: $laptop) {
    padding: 20px 0;
    width: 100%;
    flex-direction: column;
    left: 0;
    top: -500px;
    background-color: rgba(0, 0, 0, .7);
  }

  &.is-active {
    top: 28px;
    right: 120px;
    opacity: 1;

    @media (max-width: $laptop) {
      top: 90px;
    }
  }
}


.list-element {
  margin: 0 15px;
  font-size: $size16;
  cursor: pointer;
  @media (max-width: $laptop) {
    margin: 20px 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: $yellow;
  }

  &.active-link {
    color: $yellow;
  }

  &:last-of-type {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid white;
    @media (max-width: $laptop) {
      border: none;
      padding-right: 0;
      margin-right: 0;
    }
  }
}
