@import "src/variables";

.hobby-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  @media (max-width: $laptop) {
    margin-bottom: 50px;
  }

  &:hover {
    span {
      color: $yellow !important;
    }
  }

  .img-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid $yellow;
    overflow: hidden;
    color: white;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }
}
