<app-section id="home">
  <div class="home">
    <div class="container">
      <div class="info">
        <h3 class="welcome">{{'about.welcome' | translate}}</h3>
        <h2 class="name">Krzysztof Siek</h2>
        <h4 class="position">Frontend developer</h4>
        <button class="yellow" mat-raised-button>{{'buttons.hireMe' | translate}}</button>
        <app-socials></app-socials>
      </div>
      <div class="photo">
        <img alt="" loading="eagers" src="./assets/images/developer/profil.png">
      </div>
    </div>
  </div>
</app-section>
