<div class="home" id="home">
  <div class="container container-row">
    <div class="info">
      <h3 class="main-text size30 yellow">{{ 'home.welcome' | translate }}</h3>
      <h2 class="main-text size120 white">Krzysztof Siek</h2>
      <h4 class="main-text">Frontend developer</h4>
      <button (click)="scrollService.scrollTo('contact')"
              (mouseenter)="animateText()"
              (mouseleave)="onMouseLeave()"
              class="primary-button"
              mat-raised-button>{{ buttonText | translate }}
      </button>
      <app-socials class="app-socials"></app-socials>
    </div>
    <div class="photo">
      <img (load)="onLoadImage()" alt="home ziomek photo" loading="eager" src="assets/images/ziomek/home.png">
    </div>
  </div>
</div>
