@import "src/variables";

.home {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .info {
    flex: 0;

    .welcome {
      font-size: 30px;
      line-height: 30px;
      color: $yellow;
      font-family: 'Inter', sans-serif;
    }

    .name {
      font-size: 120px;
      line-height: 120px;
      color: white;
      font-family: 'Inter', sans-serif;
      font-weight: 900;
    }

    .position {
      font-family: 'Inter', sans-serif;
      font-size: 36px;
      line-height: 36px;
      color: $grey;
    }
  }

  .photo {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }


}
