@import "src/variables";

.info {
  flex: 1;
  

  img {
    margin-top: 20px;
  }

  .buttons {
    margin-top: 50px;

    :first-child {
      margin-right: 50px;
    }
  }
}

.photo {
  flex: 1;

  img {
    width: 100%;
    max-width: 550px;
  }
}

