@import "src/variables";

.info {
  flex: 1;

  .buttons {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    :first-child {
      margin-right: 50px;
    }

    button {
      margin-top: 20px;
    }
  }
}

.photo {
  flex: 1;
  margin: 0 auto;

  img {
    width: 100%;
    max-width: 550px;
  }
}

