<form data-netlify="true" method="POST" name="contact">
  <input name="form-name" type="hidden" value="contact">
  <p>
    <label>Your Name: <input name="name" type="text"/></label>
  </p>
  <p>
    <label>Your Email: <input name="email" type="text"/></label>
  </p>
  <p>
    <label>Your Role: <select multiple name="role[]">
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

