<form [formGroup]="contactForm" class="form" data-netlify="true" method="POST" name="contact">
  <mat-form-field class="custom-mat-form-field">
    <mat-label>{{ 'contact.enterName' | translate }}</mat-label>
    <input formControlName="name" matInput name="name" required>
    <mat-error *ngIf="contactForm.get('name')?.hasError('required')">
      {{ 'errors.required' | translate }}
    </mat-error>
    <mat-error *ngIf="contactForm.get('name')?.hasError('minlength')">
      {{ 'errors.minLength' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'contact.enterEmail' | translate }}</mat-label>
    <input formControlName="email" matInput name="email" required>
    <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
      {{ 'errors.required' | translate }}
    </mat-error>
    <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
      {{ 'errors.email' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'contact.enterSubject' | translate }}</mat-label>
    <input formControlName="subject" matInput name="subject" required>
    <mat-error *ngIf="contactForm.get('subject')?.hasError('required')">
      {{ 'errors.required' | translate }}
    </mat-error>
    <mat-error *ngIf="contactForm.get('subject')?.hasError('minlength')">
      {{ 'errors.minLength' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>{{ 'contact.message' | translate }}</mat-label>
    <textarea formControlName="message" matInput name="message" required></textarea>
    <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
      {{ 'errors.required' | translate }}
    </mat-error>
    <mat-error *ngIf="contactForm.get('message')?.hasError('minlength')">
      {{ 'errors.minLength10' | translate }}
    </mat-error>
  </mat-form-field>
  <input name="form-name" type="hidden" value="contact"/>
  <button [disabled]="!contactForm.valid" class="primary-button" mat-raised-button type="submit">
    {{ 'buttons.send' | translate }}
  </button>
</form>
