$hamburger-padding-x: 20px;
$hamburger-padding-y: 10px;
$hamburger-layer-color: #ffffff;
$hamburger-layer-height: 3px;
$hamburger-layer-width: 30px;
$hamburger-layer-border-radius: 6px;
$hamburger-hover-opacity: .9;

@import 'hamburgers/_sass/hamburgers/hamburgers';
@import '@fortawesome/fontawesome-free/css/all.css';
@import "src/variables";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
}

.language-select {
  visibility: hidden;

  .mat-mdc-text-field-wrapper {
    width: 26px;
    height: 26px;
  }

  .mat-pseudo-checkbox {
    display: none;
  }
}

.language-select-panel {
  width: 40px !important;

  .mat-pseudo-checkbox {
    display: none;
  }
}

.primary-button {
  background-color: $yellow !important;
  color: black;
  font-size: $size16 !important;
  padding: 26px 34px !important;
  border-radius: 50px !important;
  min-width: 240px !important;
  border: 2px solid $yellow !important;
  text-transform: capitalize !important;

  &:hover {
    transition: .3s;
    background-color: black !important;
    color: white !important;
    border: 2px solid $yellow !important;
  }
}


section {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1270px;

  &-row {
    flex-direction: row;
    align-items: center;
  }

  .row {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

mat-form-field {
  .mdc-text-field--filled {
    background-color: $black1 !important;
    border-radius: 10px !important;
    border: 1px solid $border-black2;

    mat-label {
      color: $divider;
    }

    input, textarea {
      color: $grey !important;
    }
  }

  .mdc-text-field--focused {
    border: 1px solid $yellow;
  }

  .mdc-text-field--invalid {
    border: 1px solid red;
  }

  .mdc-line-ripple {
    display: none;
  }
}

.info-dialog-custom-class {
  .mat-mdc-dialog-surface {
    border-top-right-radius: 50px !important;
    background-color: $yellow !important;
    overflow: visible;
  }
}


//text styles
.main-text {
  font-family: 'Inter', sans-serif !important;
  font-size: $size36 !important;
  line-height: 42px !important;
  font-weight: 400 !important;
  color: $grey !important;

  &.size120 {
    font-size: 120px !important;
    line-height: 120px !important;
    font-weight: 900 !important;
  }

  &.size30 {
    font-size: $size30 !important;
    line-height: 36px !important;
  }

  &.size24 {
    font-size: $size24 !important;
    line-height: 28px !important;
  }

  &.size16 {
    font-size: $size16 !important;
    line-height: 24px !important;
  }

  &.white {
    color: $white !important;
  }

  &.yellow {
    color: $yellow !important;
  }

  &.bold {
    font-weight: 700 !important;
    letter-spacing: 1px !important;
  }
}

.description {
  font-family: 'Inter', sans-serif;
  font-size: $size16;
  color: $grey;
  line-height: 24px;
}


