$hamburger-padding-x: 20px;
$hamburger-padding-y: 10px;
$hamburger-layer-color: #ffffff;
$hamburger-layer-height: 3px;
$hamburger-layer-width: 30px;
$hamburger-layer-border-radius: 6px;
$hamburger-hover-opacity: .9;

@import 'hamburgers/_sass/hamburgers/hamburgers';
@import "src/variables";
@import '@fortawesome/fontawesome-free/css/all.css';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
}

.language-select {
  visibility: hidden;


  .mat-mdc-text-field-wrapper {
    width: 26px;
    height: 26px;
  }

  .mat-pseudo-checkbox {
    display: none;
  }
}

.cdk-overlay-pane {
  width: 40px !important;

  .mat-pseudo-checkbox {
    display: none;
  }
}

.yellow {
  background-color: $yellow !important;
  color: black;
  font-size: 16px !important;
  padding: 30px 40px !important;
}

section {
  background-color: $black-bgc2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0;

  .section-title {
    display: flex;
    align-self: center;

    .title {
      font-size: 24px;
      color: $yellow;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      letter-spacing: 1px;
      position: relative;
      z-index: 2;

      &::after, &::before {
        position: absolute;
        content: '';
        bottom: -20px;
        left: 0;
        height: 2px;
        background: $divider;
        border-radius: 6px;
      }

      &::after {
        width: calc(100% + 60px);
        transform: translateX(-30px);

      }

      &::before {
        width: calc(60%);
        transform: translateX(40%);
        background: $yellow;
        z-index: 1;
      }

      .subtitle {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 90px;
        white-space: nowrap;
        color: $section-subtitle;
        z-index: -1;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1270px;

  &-row {
    flex-direction: row;
    align-items: center;
  }

  .row {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

