$hamburger-padding-x: 20px;
$hamburger-padding-y: 10px;
$hamburger-layer-color: #ffffff;
$hamburger-layer-height: 3px;
$hamburger-layer-width: 30px;
$hamburger-layer-border-radius: 6px;
$hamburger-hover-opacity: .9;

@import 'hamburgers/_sass/hamburgers/hamburgers';
@import "src/variables";
@import '@fortawesome/fontawesome-free/css/all.css';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

.language-select {
  visibility: hidden;


  .mat-mdc-text-field-wrapper {
    width: 26px;
    height: 26px;
  }

  .mat-pseudo-checkbox {
    display: none;
  }
}

.cdk-overlay-pane {
  width: 40px !important;

  .mat-pseudo-checkbox {
    display: none;
  }
}

.yellow {
  background-color: $yellow !important;
  color: black;
  font-size: 16px !important;
  padding: 30px 40px !important;
}

.container2 {
  max-width: 1270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
