$yellow: #fdc66a;
$grey: #a9adb8;
$darker-white: #efeded;
$black1: #101624;
$border-black2: #545659;
$black3: #070d1b;
$black-bgc2: #111;
$divider: #3f4551;
$section-subtitle: #151b2980;
$white-text: #fdfeff;
$white: #ffffff;


$size16: 16px;
$size24: 24px;
$size30: 30px;
$size36: 36px;
$size90: 90px;

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 576px

